@import '../mixins/mixin';
@import '../base/variables';

header {
    @include center-content-vertical;
    padding-top: 3.9375rem;
    justify-content: space-between;
    margin-bottom: 3.0625rem;

    // dark mode part
    .darkMode {
        @include center-content-vertical;
        flex-direction: column;
        user-select: none;

        & .darkModBtn {
            position: relative;
            cursor: pointer;
            width: 6.25rem;
            height: 2.413rem;
            border-radius: 40px;
            -webkit-border-radius: 40px;
            -moz-border-radius: 40px;
            -ms-border-radius: 40px;
            -o-border-radius: 40px;
            background-color: #D9D9D9;
            border: 1px solid #000;
            padding-inline: .6188rem .8125rem;
            padding-block: .3125rem .2256rem;
            margin-bottom: .375rem;

            & .elipse {
                position: absolute;
                left: 5px;
                top: 50%;
                transform: translateY(-50%);
                width: 1.875rem;
                height: 1.875rem;
                border-radius: 50%;
                background-color: #111;
                display: inline-block;
                -webkit-transform: translateY();
                -moz-transform: translateY();
                -ms-transform: translateY();
                -o-transform: translateY();
                transition: all $transition ease;
                -webkit-transition: all $transition ease;
                -moz-transition: all $transition ease;
                -ms-transition: all $transition ease;
                -o-transition: all $transition ease;
}
        }

        & .DarkModeTitle {
            font-size: 1.125rem;
            font-weight: 800;
        }
    }
    .darkModeSwitch{
        left: 3.75rem !important;

    }

    // search bar part
    .search {
        max-width: 803px;
        flex: 1;
        width: 100%;
        height: 62px;
        padding-inline: 33px 80px;
        border: 1px solid #000;
        border-radius: 2.5rem;
        -webkit-border-radius: 2.5rem;
        -moz-border-radius: 2.5rem;
        -ms-border-radius: 2.5rem;
        -o-border-radius: 2.5rem;
        box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25);
        background: #D9D9D9;
        @include center-content-vertical;
        gap: 1.8125rem;

        & .search-btn {
            width: 40px;
            height: 46px;
        }

        & input.search-bar {
            flex: 1;
            height: 1.75rem;
            font-size: 18px;
            font-weight: 400;
            outline: none;
            border: none;
            background-color: transparent;

            &::placeholder {
                opacity: 0.6;
            }

        }
    }

    // location part
    .location {
        user-select: none;
        width: 292px;
        max-width: 292px;
        height: 62px;
        border-radius: 40px;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        -ms-border-radius: 40px;
        -o-border-radius: 40px;
        @include center-content;
        background-color: #4CBB17;
        gap: .25rem;
        transition: $transition ease;
        -webkit-transition: $transition ease;
        -moz-transition: $transition ease;
        -ms-transition: $transition ease;
        -o-transition: $transition ease;

        &:hover {
            cursor: pointer;
            background-color: darken(#4CBB17, 5%);
        }

        & .locationIcon {
            width: 2.1875rem;
            height: 2.1875rem;

        }

        & .locationTitle {
            color: rgba(255, 255, 255, 0.80);
            font-size: 1.375rem;
            font-weight: 800;



        }
    }
}