@import "../mixins/mixin";
main{
    .container{
        & .current{
            @include center-content-vertical;
            justify-content: space-between;
            flex-wrap: wrap; 
            gap: 1.25rem ;
            @include large{
                justify-content: center
            }
        }

        & .notCurrent{
            @include center-content-vertical;
            justify-content: space-between;
            flex-wrap: wrap;
            @include large{
                justify-content: center;
                gap: 1.25rem
            }
        }
    }
}

// blur 
.blur{
    filter: blur(10px) brightness(0.7);
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    -webkit-filter: blur(10px) brightness(0.7);
}

