@import "../base/variables";
@import "../mixins/mixin";
// main .container{
//     display: flex;
//     justify-content: space-between;
// }
section.weatherDetail{
    display: flex;
    padding: 20px 25px;
    min-width: 45.3125rem;
    width: 100%;
    max-width: 49.3125rem;
    margin-block: 20px;
    width: 100%;
    min-height: 20.625rem;
    border-radius: 1.875rem;
    background: var(--selection-color);
    @include box-shadow;

    @include small{
        flex-direction: column;
        padding: 20px 15px;
        min-width: unset;
    }
// main detail
    & .mainDetail{
        @include center-content;
        flex-direction: column;
        justify-content: space-between;

        & .weatherDegree{
            font-size: 80px;
            font-weight: 700;
            -webkit-background-clip: text !important;
            background-clip: text !important;
            -webkit-text-fill-color: transparent;
        }
        body.light & .weatherDegree{
            @include weather-degree('light');
        }
        body.dark & .weatherDegree{
            @include weather-degree('dark');
        }
    
    }
    & .weatherinfo{
        @include center-content-horizontal;
        flex-direction: column;
        gap: 1.25rem;

        @include small{
            flex-direction: row;
            gap: 1.25rem;
            padding: 0;
            margin-top: 1.25rem;
        }
    }

    & .sunrise,& .sunset{
        @include center-content-vertical;
        gap: .625rem;
        & .sunriseIcon,& .sunsetIcon{
            width: 3rem;
            height: 3rem;
        }
        body.dark & .sunriseIcon img,body.dark & .sunsetIcon img{
            @include filter("dark")
        }
        & .sunriseInfo ,& .sunsetInfo{
            @include center-content-horizontal;
            flex-direction: column;
            
            & .sunriseTitle,& .sunsetTitle{
                font-size: 1.25rem;
                font-weight: 700
            }

            & .sunriseTime,& .sunsetTime{
                font-size: 1rem;
                font-weight: 600;
            }
        }

    }
    // weather icon
    & .weatherDescription{
        @include center-content-vertical;
        flex-direction: column;

        @include small{
            flex-direction: row;
            gap: 1.25rem;
            justify-content: center;
            margin-top:1.25rem ;
        }

        & .weatherIcon{
            width: 12rem;
            height: 12rem;
            margin-bottom: .625rem;

            @include small{
                width: 6.25rem;
                height: 6.25rem;
            }
        }
        & .weatherStatu{
            font-size: 1.7rem;
            font-weight: 700;
            text-align: center;
        }
    }
    // Extra Detail
    & .extraDetail{
        display: flex;
        flex-wrap: wrap;

        @include small{
            flex-wrap: nowrap;
    overflow-x: auto;
        }
        
        & .humidity,& .wind,& .pressure,& .uv{
            @include center-content-vertical;
            flex-direction: column;
            padding: 1.25rem;
            width: 9.375rem;

            @include small{
                padding: 1rem;
            }
            & .icon{
                width: 3.75rem;
                height: 3.75rem;
                margin-bottom: .625rem;

                body.dark & img{
                    @include filter("dark")

                    
                }
            }
            & .Info{
                @include center-content-vertical;
                flex-direction: column;
                & .Value{
                    font-size: 1.25rem;
                    font-weight: 600;
                    margin-bottom: 1.25rem;
                }
                & .Title{
                    font-size: 1rem;
                    font-weight: 500;
                }
            }
            
        }
    }


}
// body.light .weatherDetail{
//     background-color: #D9D9D9;
    
// }