@mixin theme-background-color($theme) {
    @if $theme == 'light' {
        background: linear-gradient(113deg, #FFF 0.28%, rgba(70, 97, 115, 0.00) 178.65%);
        color: $light-text-color;
    } @else if $theme == 'dark' {
        
        background: linear-gradient(110deg, #444 0%, #000 100%);
        background-repeat: no-repeat;
        color: $dark-text-color;
    } 
}
// centre the content
@mixin center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
// centre the content vertically
@mixin center-content-vertical {
    display: flex;
    align-items: center;
}
// centre the content horizontally
@mixin center-content-horizontal {
    display: flex;
    justify-content: center;
}
// weather degree style
@mixin weather-degree($theme) {
    @if $theme == 'light' {
        background:  linear-gradient(80deg, #292929 -2.93%, rgba(255, 255, 255, 0.00) 212.44%);
    } @else if $theme == 'dark' {
        background: linear-gradient(84deg, #FFF -16.56%, rgba(255, 255, 255, 0.00) 118.43%);
    }
}
// box shadow style
@mixin box-shadow{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1), 0 10px 30px rgba(0, 0, 0, 0.2), 10px 10px 4px 0px rgba(0, 0, 0, 0.50);
}
