// resets css
@import "variables";
@import "../mixins/mixin";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    scroll-behavior: smooth;
    font-weight: 500;
    min-height: 100vh;

}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
button{
    all: unset;
    cursor: pointer;
}
h1, h2, h3, h4, h5, h6, p, a,button{
    font-family: inherit;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
}


// dark mode
.dark{
    @include theme-background-color('dark');
    
}
// light mode
.light{
    @include theme-background-color('light');
    
}
// container
.container{
    width: 100%;
    max-width: 83.625rem;
    margin: 0 auto;
    padding: 0 1rem;
}

// breakdoun media query
@include small{
    html{
        font-size: 87.5%;
    }   
}
// overllay
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    z-index: 1000;
    display: none;
        // @include center-content:;

}


