// Global variables
:root {
    --selection-color: #D9D9D9; // #444
    --text-color: #292929;
    
    --transition: 0.3s;
    --forecast-color: #373636;

    
}

body.dark {
    --selection-color: #444;
    --text-color: #fff;
    
    --forecast-color: #373636;


}
